* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 20px;
    margin: 40px auto;

    ul {
        display: flex;
        margin-bottom: 10px;

        li {
            list-style: none;
            background: #eee;
            padding: 8px 20px;
            margin: 5px;
            letter-spacing: 1px;
            cursor: pointer;
            border-radius: 4px;
        }

        li.active {
            background: blue;
            color: white;
        }
    }

    .product {
        display: flex;
        flex-wrap: wrap;

        .itemBox {
            width: 200px;
            height: 200px;
            margin: 5px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        height: auto;
        ul {
            display: block;
            padding: 0;
            text-align: center;
        }
    }.product {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
        padding: 0;
        height: auto;
        // background: #000;

        .itemBox {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}